.modal-width{
    min-width: 100vw;
    height: 80vh;
}
@media (min-width:800px) {
    .container{
        width: 100%;
        background-image: url('../../../public/imgs/hi.jpg');
        background-repeat: no-repeat;
        height: 100%;
        position: fixed;
    }
    
    p{
        height: 100%;
    }
    .header{
        display: flex;
    }
    .badge_div{
        display: flex;
       
    }
    .content{
        margin: 5% 1% 1% 1% ;
    }
    .icon{
        color: blue;
        margin: 1% 1% 1% 22%;
    }
    
    .label{
        font-size: 1.5em;
    
    }
    .badge{
        margin: 1%;
        padding: 4% 2% 1% 2%;
        height: 70%;
        width: 25%;
        font-size: 1em;
    }
    .form{
        width: 100%;
        height: 85%;
        margin: 5% 10% 10% 20%;
        background-color: white;
    }
    
    .field{
        width: 80%;
        margin: 2% ;
    }
    .fieldContianer{
        display: flex;
        margin: 3%;
    
    }
    .input{
        width: 50%;
        height: 80%;
    }
    .hint{
        font-size: 0.6em;
    }
    
    button {
        width: 90%;
        margin: 2%;
    }
    .chip{
        width: 50%;
        height: 10%;
        margin: 5% 5% 5% 5%;
    }
    .iconHint{
        font-size: 0.7em;
    }
    .chip img{ 
        width:  50px;
        height: 50px;
        transform: rotate(90deg);
    }
    .cardDetail{
        margin: 35% 1% 1% 10%;
        border-radius: 5%;
        background-color: rgba(255, 255, 255, 1);
        width: 80%;
        height: 60%;
        box-shadow: 50px 25px 35px 50px whitesmoke;
    }
    .mstCard{
        height: 40%;
        width: 100%;
        display: flex;
        margin: 1% 1% 15% 1%;

    }
    .wifiSignal{
        font-size: 10em;
    }
    .wifi{
        margin:  5% 2% 5% 0%;

    }
    .userInfo{
        width: 90%;
        margin: 15% 2% 2% 10%;
    }
    .userInfo p{
        font-size: 1.1em;
        margin: 2% 1% 2% 3%;
    }
    .otherInfo{
        margin: 7% 2% 5% 2%;
        height: 20%;
        display: flex;
    }
    .date{
        margin: 1% 2% 20% 2%;
    }
    .mstLogo{
        width: 50%;
        margin: 0% 2% 2% 35%;
    }
    .mstLogo img{
        width: 50px;
        height: 50px;
    }
    .bg{
        background-color: rgba(128,128,128, 0.4);
        width: 100%;
        height: 90%;
        margin: -65% 2% 5% 1%;
    }
    .companyInfo{
        margin: 13% 1% 0% 1%;
        position: fixed;
        width: 100%;
    }
    .company{
        display: flex;
        width: 100%;

    }
    
    .companyName{
        color:  rgba(128,128,128, 0.6);
        margin: 1% 1% 0% 1% ;
        
    }
    .companylogo{
        margin: 1% 1% 1% 3% ;
        display: flex;

    }
    .companylogo p{
        border-radius: 50%;
        background-color: black;
        width: 20px;
        height: 20px;
        margin: 7% 10% 1% 1%;
    }
    .companylogos{
        color: white;
        font-size: 0.8em;
        margin: -10px 1px 2px -1.5px;
    }
    .GenInfo{
        display: flex;
        margin: -2% 0 ;

    }

    .GenName{
        color:  rgba(128,128,128, 0.6);
        margin: 1% 1% 0% 1% ;
        width: 5%; 
        font-size: 0.9em;
    }
    .GenNumber{
        margin: 1%;
        font-size: 0.9em;

    }

    hr{
        list-style-type: 1px dashed gray;
        width: 100%;
    }

    .balance{
    position: fixed;
    margin: 20% 1% 1% 2%;

    }
    .pay{
        color:  rgba(128,128,128, 0.6);
        font-size: 1.3em;

    }
    .amount{
        display: flex;
    }
    .currency{
        color:  rgba(128,128,128, 0.6);
        font-size: 1em;
        margin: 8% 1% 1% 2%;
    }
    .price{
        font-size: 1.5em;
        font-weight: bold;
    }
    .cent{
        margin: 8% 1% 1% 2%;

    }
    .amountInfo{
        display: flex;
    }
    .recieptt{
        width: 30px;
        height: 30px;
    }
    .bill{
        margin: 3% 2% 1% 40%;
    }
}


@media (max-width:799px) {
    .container{
        width: 100%;
        background-image: url('../../../public/imgs/hi.jpg');
        background-repeat: no-repeat;
        height: 100%;
        position: fixed;
    }
    .formContainer{
        margin: 7% 1% 1% 1%;
    }
    p{
        height: 100%;
    }
    
    .badge_div{
        display: flex;
       
    }
    .iconTxt{
        width: 100%;
    }
    .content{
        margin: 5% 1% 1% 1% ;
    }
    .icon{
        color: blue;
        margin: 1% 1% 0% 0%;
        font-size: 0.5em;
    }
    .iconHint{
        font-size: 0.5em;
    }
    .label{
        font-size: 1em;
    
    }
    .badge{
        margin: 2%;
        padding: 3% 1% 1% 1%;
        height: 100%;
        width: 25%;
        font-size: 1em;
    }
    .form{
        width: 80%;
        height: 90%;
        margin: 10% ;
        background-color: white;
    }
    
    .field{
        width: 100%;
        margin: 2% ;
    }
    .fieldContianer{
        display: flex;
        margin: 3%;
    
    }
    .input{
        width: 50%;
        height: 50%;
    }
    .hint{
        font-size: 0.6em;
    }
    
    button {
        width: 90%;
        margin: 2%;
    }

    .cardDetail{
        display: none;
       
    }
    .header{
        display: flex;
    }
  
}